@model  IEnumerable<FavouriteAccounts.ui.Models.FavouriteAccountModel>


@{
    ViewBag.Title = "Favourite Accounts";
}

<h2>@ViewBag.Title</h2>


<p>list of favourites, userId: @Session["CustomerId"], @Session["CustomerName"]</p>
